@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family:'Stint Ultra Condensed';
  background-color: rgb(30, 30, 30);
}

#tabs{
  background-color: black;
  background-image: linear-gradient(to right, black , rgb(15, 15, 15), black);
  width: 98vw;
  height: 4.4vmax;
  padding-left: 10px;
}

#workablescreen{

}

.tabOption{
  font-family:'Stint Ultra Condensed';
  text-align: center;
  color: white;
  float: left;
  letter-spacing: 1px;
  font-size: 1.8vmax;
}

.logo{
  width: 60px;
  height: 60px;
  background-color: black;
  margin: 0;
  padding: 0;
  float: left;
  transition: background-color 1s;
}

.logo:hover{
  background-color: rgb(191, 64, 191);
}