@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Stint Ultra Condensed';
  background-color: rgb(30, 30, 30);
}

/*::-webkit-scrollbar{
  width: 13px;
}

::-webkit-scrollbar-thumb{
  background: rgba(191, 64, 191, .8);
}*/

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  border-style: none solid ridge none;
  border-color: rgb(179, 102, 204);
  border-radius: 0px 0px 3px 0px;
}

li{
  float: left;
  margin: 0;
  display: block;
}

.tabOption{
  font-family:'Stint Ultra Condensed';
  background-color: rgb(15, 15, 15);
  letter-spacing: 1px;
  color: white;
  border: none;
  font-size: 1.8vmax;
  height: 1.7em;
  width: 20vw;
  cursor: pointer;
  /*text-decoration: underline rgb(179, 102, 204);*/
  transition-property: transform, opacity;
  transition-duration: .2s;
}

.tabOptionHover{
  position: absolute;
  transform: rotateY(180deg);
  font-family:'Stint Ultra Condensed';
  background-color: rgb(179, 102, 204);
  letter-spacing: 1px;
  color: white;
  float: left;
  border: none;
  font-size: 1.8vmax;
  height: 1.7em;
  width: 20vw;
  transition-property: transform, opacity;
  transition-duration: .2s;
  opacity: 0%;
}

li:hover .tabOption{
  transform: rotateY(180deg);
  opacity: 0%;
}

li:hover .tabOptionHover{
  transform: rotateY(360deg);
  opacity: 100%;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  color: #eee;
}
i{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: small;
  color: #eee;
}

p{
  color: #eee;
}