@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Stint Ultra Condensed';
  background-color: rgb(30, 30, 30);
}

/*::-webkit-scrollbar{
  width: 13px;
}

::-webkit-scrollbar-thumb{
  background: rgba(191, 64, 191, .8);
}*/

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

li{
  float: left;
  margin: 0;
}

.tabOption{
  font-family:'Stint Ultra Condensed';
  background-color: rgb(15, 15, 15);
  letter-spacing: 1px;
  color: white;
  border: none;
  font-size: 4vh;
  height: 1.7em;
  cursor: pointer;
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  color: #eee;
}
i{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: small;
  color: #eee;
}

p{
  color: #eee;
}