@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family:'Stint Ultra Condensed';
  background-color: rgb(255, 255, 255);
}

button{
  border: none;
}

ul{
  display: table;
  text-align: center;
  margin: 0 auto;
}

td{
  padding-left: 2em;
  list-style: none;
  float: left;
  border: none;
  outline: none;
}

.tabOption{
  font-family:'Stint Ultra Condensed';
  background-color: rgb(15, 15, 15);
  letter-spacing: 1px;
  display: block;
  color: white;
  font-size: 28px;
  height: 1.7em;
  cursor: pointer;
}

.tabOption:hover{
  text-decoration: underline dotted rgba(255, 0, 255, .6);
}

img{
  width: 200px;
  height: 200px;

}
h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
}
i{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: small;
}