@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body{
  overflow: hidden;
  background-color: rgb(30, 30, 30);
}

#initpage{
  text-align: center;
  padding: 20vh;
}

.initimg{
  margin-top: 55px;
  --gstart: 0deg;
  border: 1vmin solid;
  border-image: conic-gradient(from var(--gstart), rgb(179, 102, 204), rgb(191, 64, 191), rgb(60, 40, 80)) 1;
  animation: 9s gradient linear infinite;
  transition-property: box-shadow, background-color;
  transition-duration: 1s;
}

#homepage{
  position: absolute;
  visibility: hidden;
}

#tooltip {
  opacity: 0%;
  color: white;
  font-family:'Stint Ultra Condensed';
  font-size: xx-large;
  width: 120px;
  margin: auto;
  transition: opacity 2s;
}

.initimg:hover{
  background-color: rgb(25, 25, 18);
  box-shadow: 5px 10px 15px rgba(255, 0, 255, 0.4);
}

@keyframes gradient{
  to{
    --gstart: -360deg;
  }
}

@property --gstart {
  syntax: '<angle>';
  initial-value: 180deg;
  inherits: false;
}