html {
  background-color: white;
}

h1 {
  color: white;
}

.initscreen {
  z-index: 100;
  position: fixed;
  text-align: center;
  line-height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(30, 30, 30);
}

.initimg{
  position: relative;
  border-style: solid;
  border-radius: 50%;
  border-color: white;
}