@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

#playerws{
  position: fixed;
  z-index: 10;
  background: black;
  height: 100%;
  width: 180px;
  top: 4.4vmax;
  transition: width .4s;
  border-width: medium;
  border-radius: 0px 4px 4px 0px;
}

#playbutton{
  width: 35px;
  height: 35px;
}

.controls{
  text-align: center;
}