@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

#playerws{
  position: fixed;
  z-index: 10;
  background: rgb(30, 30, 30);
  height: 100%;
  width: 180px;
  top: 4.4vmax;
  transform: translateX(-180px);
  visibility: hidden;
  transition: transform .4s, visibility .4s;
  border-width: medium;
  border-radius: 0px 4px 4px 0px;
}

#name_container{
  margin-left: auto;
  margin-top: 10px;
  margin-left: 6px;
  width: 168px;
  color: white;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

#song_name{
  width: min-content;
  animation: songtitle 8s linear infinite;
  animation-play-state: paused;
}

#album_cover{
  margin-top: 20px;
  margin-left: 20px;
}

#playbutton{
  width: 35px;
  height: 35px;
}

@keyframes songtitle {
  to{
    transform: translateX(-100%);
  }
}