form{
  margin-top: 5%;
}

.seepwbutton{
  width: 25px;
  height: 15px;
  margin-left: 10px;
  transform: scale(1.1);
  cursor: pointer;
  position: absolute;
  transform: scale(1.1) translateY(90%);
}

.subbutton{
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 12em;
  height: 2em;
}

.newaccbutton{
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
}

.newaccbutton:hover{
  text-decoration: underline;
  text-decoration-color: white;
}

.fields{
  background: linear-gradient(rgb(250, 249, 246), rgb(249, 246, 238));
  border: none;
  outline: none;
  color: rgb(191, 64, 191);
  margin-bottom: 20px;

  border-radius: 10px 5px 10px 5px;
  text-align: center;
  font-size: medium;
  height: 2.8em;
  width: 16em;
  padding-left: 7px;
  padding-right: 7px;
}

#cpw{
  animation: shake .18s linear infinite;
  animation-play-state: paused;
}

@keyframes shake{
  15%{transform: translateX(6px);}
  35%{transform: translateX(-6px);}
  55%{transform: translateX(6px);}
  75%{transform: translateX(-6px);}
  90%{transform: translateX(6px);}
}