table{
  margin-left: auto;
  margin-right: auto;
}

.seepwbutton{
  width: 25px;
  height: 15px;
  margin-left: 10px;
  transform: scale(1.1);
  cursor: pointer;
  position: absolute;
  transform: scale(1.1) translateY(90%);
}

.subbutton{
  color: white;
  background: linear-gradient(90deg, rgb(191, 64, 191), rgb(87, 8, 97));
  text-align: center;
}

.newacc{
  margin-left: 50px;
}

.fields{
  background: linear-gradient(rgb(250, 249, 246), rgb(249, 246, 238));
  border: none;
  outline: none;
  color: rgb(191, 64, 191);
  margin-bottom: 20px;

  border-radius: 30px;
  text-align: center;
  font-size: medium;
  height: 2.8em;
  width: 16em;
  padding-left: 7px;
  padding-right: 7px;
}