#player{
  position: absolute;
  background: black;
  /*bottom: -16%;*/
  bottom: 0%;
  height: 90px;
  width: 99.55%;
  transition: bottom .4s;

  border-radius: 3px 3px 0px 0px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to top, rgb(191, 64, 191), transparent) 1 100%;
}